* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: url(../images/audience.jpg) no-repeat center;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 1170px;
    margin: 0 auto;
}

kbd {
    font-size: 50px;
    background-color: #000B;
    color: #FFF;
    display: inline-block;
    padding: 5px 24px;
    margin-right: 20px;
    border: 1px solid #999;
    box-shadow: 0px 0px 4px #ff6600;
}

kbd.pressed {
    border: 1px solid #ff6600;
    box-shadow: 0px 0px 10px #ff6600;
    font-size: 55px;
}